body 
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.container 
{
	text-align: center;
}

form {
    margin-left: 1104px;
}

form input {
    margin: 10px 3px 5px 0px;
    padding: 6px 35px 6px 7px;
    border: 1px solid #757575;
    border-radius: 3px;
    font-size: 16px;
    outline: none;
}

form #submitBtn {
    padding-left: 26px;
    text-align: center;
    border: 1px solid #303f9f;
    color: #fff;
    background: #303f9f;
}

/*border start here*/
.phtoesHeader {
    margin: 5px 24px;
    padding: 8px;
    font-size: 18px;
    border: 1px solid #9e9e9ea3;
    color: #424242;
    border-radius: 4px;
}
/*image desing start here*/
.sub-container {
    margin: 0px;
    width: 100%;
    /*border: 1px solid #7575759e;*/
    border-radius: 3px;
}

/*.w-25 img
 {
    width: 480px;
    margin: 0 6px 6px 6px;
    border-radius: 2px;
}
*/
#footerBtn 
{
	margin-top: 8px;
	margin-bottom: 13px;

}
#footerBtn a 
{
    margin: 8px 5px;
    padding: 5px 15px;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #3949ab;
    border-radius: 5px;
    background: #303f9f;
    color: #fff;
    overflow: hidden;
}

.parent-image
{
    /*width: 90%;
    margin: 12px 0%;
    transform: translateX(-50px);
    display: grid;
    grid-template-columns: reapat(5,200px);
    row-gap: 10px;
    column-gap: 10px;
    justify-content: center;*/
}
/*.parent-image div
{
    position: relative;
}

img 
{
    margin-left: 5px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    cursor: pointer;
}*/


.parent-image {
    width: 22%;
    margin: 10px;
    padding: 9px 6px;
    border: 1px solid #7575757d;
    border-radius: 8px;
    color: #263238;
    float: left;
    box-shadow: 2px 2px 2px 2px #9e9e9e80;
}

.parent-image img {
    width: 338px;
    height: 380px;
    border-radius: 5px;
    cursor: pointer;
}

.parent-image img:hover {
    box-shadow: 2px 2px 2px 2px #757575c7;
    /*border: 1px solid #9e9e9e4a;*/
    transition-duration: 0.5s;
}

.downloadBtn 
{
    margin-bottom: 4px;
    padding: 5px 15px;
    border: 1px solid #303f9f;
    border-radius: 4px;
    color: #fff;
    background: #303f9f;
    font-size: 16px;
    font-family: sans-serif;
    text-decoration: none;
}

/*delete icon start here */
.blog 
{
    position: relative;
}

i 
{
    position: absolute;
    left: 135%;
    top: -358px;
    color: red;
    font-size: 21px;
    visibility: hidden;
}
